* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

body.darkMode {
  background-color: #333;
  color: #fff;
}

.darkMode a {
  color: #fff;
}