
.darkMode body {
  background-color: #333;
  /* color: #fff; */
}

.darkMode a {
  color: #fff;
}


.navbar {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  padding-top: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem; 
  background-color: #fff; 
}

.navbarLinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbarLinks li {
  display: inline;
  margin-right: 0.625rem; 
}

.navbarLinks li a {
  color: inherit; 
  text-decoration: none;
}

.productDisplay {
  display: flex;
  align-items: center;
}

.productDisplay select,
.productDisplay input[type="text"] {
  margin-right: 0.625rem; 
  padding: 0.3125rem; 
}

.productDisplay select {
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem; 
}

.productDisplay input[type="text"] {
  border: 0.0625rem solid #ccc; 
  border-radius: 0.3125rem; 
}

.darkmodeButton{
  background-color: #007bfa;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem; 
  cursor: pointer;
  text-decoration: none;
  position:relative;
  color: #fff;
}

.darkMode .darkmodeButton {
  background-color: #0056b3;
  
}

.darkMode .darkmodeButton:hover {
  background-color: #004080;
}

.loginButton {
  background-color: #007bfa;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem; 
  cursor: pointer;
  text-decoration: none;
  position:relative;
  color: #fff;
}

.loginButton a{
  text-decoration: none;
  color: #fff;
}

.logoutButton{
  position:absolute;
  top:2rem;
  right:0.1rem;
}
.logoutButton button{
  background-color: grey;
}

.loginButton:hover {
  background-color: #0056b3;
}

.darkMode {
  background-color: #333; 
  color: #333;
}

.darkMode .navbar {
  background-color: #333; 
  color: #fff; 
}

.darkMode .navbarLinks li a {
  color: #fff;
  }

  .darkMode .loginButton {
    background-color: #0056b3;
  }
  
  .darkMode .loginButton:hover {
    background-color: #004080;
  }
  