.darkMode .loginBox {
  border-color: #333;
  background-color: #333;
  color: #fff;
  box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.1);
}

.darkMode .loginForm input[type="email"],
.darkMode .loginForm input[type="password"] {
  border-color: #fff;
}

.darkMode .login {
  background-color: #0056b3;
}

.darkMode .login:hover {
  background-color: #004080;
}

.darkMode .loginContainer {
  color: #fff;
  background-color: #666;
}

.darkMode .loginContainer p {
  color: #fff;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}

.loginContainer {
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  margin: 4rem auto;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  justify-content: center;
  width: 20rem;
  align-items: flex-start;
  background-color: #f4f4f4;
}

.loginContainer p {
  text-align: center;
  font-size: 2rem;
}

.loginForm {
  margin-top: 1.25rem;
}

.loginForm label {
  display: block;
  margin-bottom: 0.3125rem;
}

.loginForm input[type="email"],
.loginForm input[type="password"] {
  width: 100%;
  margin-bottom: 0.625rem;
  padding: 0.5rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.1875rem;
}

.login {
  width: 100%;
  padding: 0.625rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
}

.login:hover {
  background-color: #0056b3;
}
